*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #015AAA;
}
h1{
    color: #FCB632;
}
h2{
    color: aliceblue;
    font-weight: 300;
}
h3{ 
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.inicial{
    background-color: #015AAA;
    color: #FCB632;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2%;
    width: 100vw;
    height: 90vh;
    padding: 0.6em;    
}
.final{
    display: flex;
    flex-grow: 1;
    color: white;
    align-items: center;
    justify-content: center;
}

.tela{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: #FCDE9D;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    background-color: #FCB632;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;   
}
.footer{
    background-color: #015AAA;
    color: white;
    width: 100vw;
    display: flex;
    height: auto;
    align-items: center;
    justify-content:center;
    font-size: 24px;
}
.tabuleiro{
    position: relative;
    align-items: center;
    width: 100vw;
    max-width: 400px;
    flex-grow: 1;
}
.tabuleiroFrente,
.tabuleiroVerso,
.tabuleiroVitoria{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}
.tabuleiroFrente{
    background-color:#FCDE9D;
    display: grid;
    align-items: center;
    justify-items: center;
}
.tabuleiroVitoria{
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items:center ;
    overflow: hidden;
    background-color: #FCB632;
}
.tabuleiroVerso{
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    align-items: center;
    gap: 1%;
    padding-top: 0.4em;
    background-color: #FCDE9D;
    color: #015AAA;
    transform: rotateY(180deg);
}
.tabuleiro.virado .tabuleiroFrente{
    transform: rotateY(180deg);
}
.tabuleiro.virado .tabuleiroVerso{
    transform: rotateY(0deg);
}
.footerVerso{
    display: flex

}
.carta{
    position: relative;
    width: 75%;
    padding-bottom: 80%;
    
    
}
.frente,
.verso{
    position: absolute;
    border-radius: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3)
}
.frente{
    background-color:#FCB632 ;
}
.verso{
    background-color: #FCB632;
    transform: rotateY(180deg);
}
.carta.virada .frente{
    transform: rotateY(180deg);
}
.carta.virada .verso{
    transform: rotateY(0deg);
}
.logo{
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.logocarta{
    border-radius: 0.6em;
}
.hide{
    display: none;
}
.justificado{
    text-align: center;
}
.imgcentralizada{
    position: relative;
    overflow: hidden;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.redes{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content:space-around;
    align-items: center;
}
#iniciar{
    background-color: #015AAA;
    color:#FCB632 ;
    height: fit-content;
    width: fit-content;
    font-size: 24px;
    font-weight: 400;
    padding: 1em;
    border-style: solid;
    border-color: #FCB632;
    border-width: 4px;
    border-radius: 0.6em;    
}
.m400{
    max-width: 400px;
}
.disclaimer{
    position: absolute;
    bottom: 10px;
    font-size: 8px;
    color: #FCDE9D;
}